{% extends "base.html" %}



{% block content %}



<div class="col-lg-3 col-md-6 col-sm-6 mb-3">
    <div class="product-card">
        <div class="product-card-offer">
            <div class="offer-hit">hit</div>
            <div class="offer-new">new</div>
        </div>
        <div class="product-thumb">
            <a href="#">
                {% comment %} <img src="assets/img/71SyRObF2yL._AC_UF10001000_QL80_1.jpg" alt=""> {% endcomment %}
            </a>
        </div>
        <div class="product-detail">
            <h4>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipi</a>
            </h4>
            <p class="product-except">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quam ex
                commodi
                asperiores assumenda magni quaerat eligendi, voluptatum consequuntur
                sapiente
                odio libero quasi quisquam necessitatibus, dicta ducimus. Quaerat, rerum.
                Labore?
            </p>
            <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-price">
                    <small>$70</small>
                    $65
                </div>
                <div class="product-links">
                    <a href="#" class="btn btn-outline-secondary add-to-card">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}